In [24]:
import numpy as np
%load_ext autoreload
%autoreload 2

import pandas as pd
from src.functions import preprocess, score_dataset

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
df_train, df_test = preprocess()

In [26]:
print(df_train.shape, df_test.shape)

df_train.head()

(1460, 162) (1459, 162)

,LotFrontage,LotArea,LotShape,Utilities,LandSlope,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,...,SaleType__Other,SaleType__WD,SaleCondition__Abnorml,SaleCondition__Alloca,SaleCondition__Family,SaleCondition__Normal,SaleCondition__Other,SaleCondition__Partial,MSSubClass_encoded,Neighborhood_encoded
Id,,,,,,,,,,,,,,,,,,,,,
1,65.0,8450,4,4.0,3,7,5,2003,2003,196.0,...,0,1,0,0,0,1,0,0,235202.984375,195178.125000
2,80.0,9600,4,4.0,3,6,8,1976,1976,0.0,...,0,1,0,0,0,1,0,0,185506.687500,196851.500000
3,68.0,11250,3,4.0,3,7,5,2001,2002,162.0,...,0,1,0,0,0,1,0,0,235202.984375,195178.125000
4,60.0,9550,3,4.0,3,7,5,1915,1970,0.0,...,0,1,1,0,0,0,0,0,170354.328125,198644.484375
5,84.0,14260,3,4.0,3,8,5,2000,2000,350.0,...,0,1,0,0,0,1,0,0,235202.984375,283365.187500

## Establish a baseline score:

In [29]:
X = df_train.drop("SalePrice", axis=1)
y = df_train["SalePrice"]

rmsle, mae = score_dataset(X, y)
print(f"Baseline RMSLE: {rmsle:.5f}")
print(f"Baseline MAE: {mae:.5f}")

Baseline RMSLE: 0.13629
Baseline MAE: 17176.00563